body{
    margin: 0px;
}

#box1{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background-color: rgb(213, 173, 250);
    padding: 30px;
    text-align: justify;
    /* margin-bottom: 20px; */
    margin: auto;
}

#box2{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background-color: rgb(237, 173, 250);
    margin-bottom: 20px;
    margin-left: 40px;
}

#box3{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background-color: rgb(250, 173, 220);
    margin-left: 20px;
}