body{
    /*  background-color: rgba(255, 244, 196, 0.822); */
    background-image: url("cofi.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed ;
    background-position: center;
    background-size: cover;
}

.tula{
    text-align: center;
}

h1{
    font-family: "Lobster";
    color: rgb(238, 212, 181);
    text-shadow:
    1px 1px 0px black,  
    -1px -1px 0px black,  
    1px -1px 0px black,  
    -1px 1px 0px black,  
    2px 2px 0px black,  
    -2px -2px 0px black,  
    2px -2px 0px black,  
    -2px 2px 0px black; 
}

.body{
    font-style: italic;
    font-weight: 600;
    color: rgb(138, 78, 5);
    font-family: "Tahoma";
    border-style: solid;
    border-color: rgb(172, 151, 126);
    border-width: 5px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.623);
    padding: 10px;
    width: 48%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
 
}

#credits{
    text-align: end;
    font-style: oblique;
}