body{
    background-color: rgba(255, 244, 196, 0.822);
}

.tula{
    text-align: center;
}

h1{
    font-family: "Lobster";
    color: rgb(172, 107, 28);
}

.body{
    font-style: italic;
    font-weight: 600;
    color: rgb(75, 42, 2);
    font-family: "Tahoma";
}

#credits{
    text-align: end;
    font-style: oblique;
}